:root {
  --white: #fffffd;
  --black: #000;
  --blue: #332e71;
  --blue-dark: #201c4a;
  --pink: #f81d94;
  --green: #3fe6c5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #aaa;
    --black: #000;
    --blue: #44425d;
    --blue-dark: #2b2a3c;
    --pink: #b65f8e;
    --green: #71b4a7;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 500;
    opacity: .5;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.animated {

  --animated-h: 100%;
  --animated-p: absolute;
  --animated-b: 1rem;
  --animated-r: 1rem;

  position: var(--animated-p);
  right: var(--animated-r);
  bottom: var(--animated-b);
  z-index: -1;
  height: var(--animated-h);

  stroke-dasharray: 500;
  stroke-dashoffset: 500;

  animation: auto linear draw both;

  translate: 5% -20%;

  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  animation-timeline: --revealing-image;
  animation-range: entry 1% cover 10%;

  @media screen and (min-width: 500px){
    --animated-h: 100%;
  }

}


@keyframes move {
	to {
		left: 0px;
		/* Move horizontally so that right edge is aligned against the viewport */
		transform: translateX(calc(-100% + 100vw));
	}
}

html {
  scroll-behavior: smooth;
}

html,
body{
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --GRAD: 0;
  font-variation-settings: "GRAD" var(--GRAD);
}

@media (prefers-contrast: more) { p { --GRAD: 700 } }
@media (prefers-contrast: less) { p { --GRAD: -50 } }

@media (prefers-color-scheme: dark)                              { p { --GRAD: -50 } }
@media (prefers-color-scheme: dark) and (prefers-contrast: more) { p { --GRAD: 150 } }
@media (prefers-color-scheme: dark) and (prefers-contrast: less) { p { --GRAD: -150 } }

p {
  margin: 1rem 0;
  font-size: clamp(16px, 5dvw, 30px);
  line-height: 1.3;
  text-wrap: pretty;
  filter: drop-shadow(2px 4px 6px black);
}

blockquote {
  position: relative;
  font-size: clamp(1rem, 7dvw, 40px);
  line-height: 1.5;
}

blockquote::before {
  position: absolute;
  top: 0;
  left: -1.5rem;
  content: '';
  width: .5rem;
  height: 100%;
  background-color: currentColor;
}

h1,h2, h3, .horizon__item {
  margin: .5rem 0;
  font-family: 'Work Sans', sans-serif;
  line-height: 1;
  text-transform: capitalize;
  text-wrap: balance;
}

h1, .horizon__item {
  font-size: clamp(30px, 16dvw, 70px);
}

h2 {
  font-size: clamp(20px,12dvw,50px);
}

h3 {
  font-size: clamp(20px,4dvw,40px);
}

h6 {
  font-size: 1rem;
}

time,
em {
  margin: .5rem 0;
  color: var(--pink);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  position: sticky;
  top: 0;
  padding: 1rem;
}

figure {
  margin: 0;
  overflow: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
} 

a:hover {
  color: var(--pink);
}

/* Utilities */


.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100dvh;
}

.w-full {
  width: 100dvw;
}

.block {
  display: block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.strong {
  color: var(--pink);
}

.overflow-x {
  overflow-x: hidden;
}

.relative {
  position: relative;
}



/* Items */

.horizon{
  position: relative;
  top: 0;
  height: 200dvh;
  /* Stretch it out, so that we create room for the horizontal scroll animation */
  
  overflow: visible; /* To make position sticky work … */
  view-timeline-name: --section-pin-tl;
  view-timeline-axis: block;
}

.horizon__container {
  /* Stick to Top */
  position: sticky;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.horizon__content {
  align-content: center;
  width: fit-content;
  height: fit-content;
  animation: linear move forwards;
  
  /* Hook animation */
  will-change: transform;

  /* Link animation to view-timeline */
  animation-timeline: --section-pin-tl;
  animation-range: contain 0% contain 100%;
}

.horizon__item {
  padding: 2rem;
}

.skill,
.experience {
  position: relative;
  padding: 0 5%;
}

.experience::after,
.experience::before,
.skill::after,
.skill::before {
  position: absolute;
  top: 50%;
  content: '';
  width: 10%;
  height: 2px;
  background-color: var(--pink);
}

.experience::after,
.skill::after {
  left: 0;
}

.experience::before,
.skill::before {
  right: 0;
}

.skill::after,
.skill::before {
  background-color: var(--black);
}

.experience::after,
.experience::before {
  background-color: var(--pink);
}

.cover {
  z-index: 2;
}

.tamer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: 100vh;
  transition: mix-blend-mode .6s;
  filter: grayscale(100%);
  mix-blend-mode: hard-light;
}

.tamer img {
  height: 100%;
}

@media screen and (min-width: 1200px){
  .tamer {
    right: 0;
    left: auto;
  }
}


.socials {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

@media screen and (min-width: 900px) {
  .socials {
    justify-content: space-between;
  }
}

/* Themes */

.black-green {
  background-color: var(--black);
  color: var(--green);
}

.white-blue {
  background-color: var(--white);
  color: var(--blue);
}

.blue-green {
  background-color: var(--blue-dark);
  color: var(--green);
}

.green-blue {
  background-color: var(--green);
  color: var(--blue);
}