:root {
  --white: #fffffd;
  --black: #000;
  --blue: #332e71;
  --blue-dark: #201c4a;
  --pink: #f81d94;
  --green: #3fe6c5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #fefefe;
    --black: #000;
    --blue: #44425d;
    --blue-dark: #2b2a3c;
    --pink: #b65f8e;
    --green: #71b4a7;
  }
}


@keyframes move {
	to {
		left: 0px;
		/* Move horizontally so that right edge is aligned against the viewport */
		transform: translateX(calc(-100% + 100vw));
	}
}

html {
  scroll-behavior: smooth;
}

html,
body{
  margin: 0;
  padding: 0;
  /* font-family: 'Nunito', sans-serif; */

  font-family: 'Open Sans', sans-serif;

}

p {
  margin: 1rem 0;
  font-size: clamp(1rem, 1.2rem, 30px);
  line-height: 1.5;
}

blockquote {
  position: relative;
  font-size: clamp(1rem, 8dvw, 40px);
  line-height: 1.5;
  &::before {
    position: absolute;
    top: 0;
    left: -1.5rem;
    content: '';
    width: .5rem;
    height: 100%;
    background-color: currentColor;
  }
}

h1,h2, h3, .horizon__item {
  margin: .5rem 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  line-height: 1;
  text-transform: capitalize;
}

h1, .horizon__item {
  font-size: clamp(30px, 16dvw, 130px);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

time,
em {
  margin: .5rem 0;
  color: var(--pink);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  position: sticky;
  top: 0;
  height: 100dvh;
  padding: 2rem;
}

a {
  color: currentColor;
  text-decoration: none;
  &:hover {
    color: var(--pink);
  }
} 

/* Utilities */


.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100vh;
}

.w-full {
  width: 100vw;
}

.block {
  display: block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

/* Items */

.horizon{
	height: 500dvh;
	
	/* Stretch it out, so that we create room for the horizontal scroll animation */
	
	overflow: visible; /* To make position sticky work … */
	view-timeline-name: --section-pin-tl;
	view-timeline-axis: block;
}

.horizon__container {
	/* Stick to Top */
	position: sticky;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.horizon__content {
	align-content: center;
	width: fit-content;
	height: fit-content;
	animation: linear move forwards;
  
	/* Hook animation */
	will-change: transform;

	/* Link animation to view-timeline */
	animation-timeline: --section-pin-tl;
	animation-range: contain 0% contain 100%;
}

.horizon__item {
  padding: 2rem;
}

.experience {
  position: relative;
  padding: 0 5%;
  &::after,
  &::before {
    position: absolute;
    top: 50%;
    content: '';
    height: 2px;
    background-color: var(--pink);
    width: 10%;
  }
  &::after {
    left: 0;
  }
  &::before {
    right: 0;
  }
}

/* Themes */

.black-green {
  background-color: var(--black);
  color: var(--green);
  .strong {
    color: var(--white);
  }
}

.black-pink {
  background-color: var(--black);
  color: var(--pink);
}

.white-blue {
  background-color: var(--white);
  color: var(--blue);
}

.green-blue {
  background-color: var(--green);
  color: var(--blue);
}

.blue-pink {
  background-color: var(--blue-dark);
  color: var(--pink);
}

.blue-green {
  background-color: var(--blue-dark);
  color: var(--green);
  .strong {
    color: var(--pink);
  }

}

.green-blue {
  background-color: var(--green);
  color: var(--blue);
}